<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TradeView</title>
  <script>
    var csv = {{ csv }};
  </script>
  <style>
    body {
      background-color: rgb(247, 247, 247);
    }
  </style>
</head>
<body>
  <div>
    Масштаб: <button onClick="prevSize()">-</button><button onClick="nextSize()">+</button>
    <form  method="post" enctype="multipart/form-data" action="/upload/">
      {% csrf_token %}
      <input type="file" name="csv">
      <button type="submit">Отправить</button>
    </form>
  </div>
  <canvas id="cv"></canvas>
  <script>
    {% include "scripts/main.js" %}
    {% include "scripts/general.js" %}
  </script>
</body>
</html>
